
.bg-light {
    background-color:rgba(255, 144, 14, 0.1);
    /* max-width: 1900px; */
   
}


.navber, .banner{
    max-width: 1200px;
    margin: 0 auto;
}
.banner{
    text-align: center;
    padding: 20px;
    margin:0 500px;
}
.barnd{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    margin-right: 300px;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
.list{
    display: flex;
}
.list-itme{
    /* display: flex;  */
   list-style: none;
}
.list-link{
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    color: #424242;
   
}
.banner{
    margin: 10px auto;
}

.img{
    width: 1200px;
    margin:0px 250px;
    
}
.banner-title{
    font-size: 45px;
    font-weight: bold;
    margin: 0 50px;
}
.banner-dis{
    font-size: 18px;
    font-weight: 400px;
    color: #727272;
}
.btn-primary{
    padding: 18px;
    border-radius: 8px;
    background-color: #FF900E;
}

.card{
    display: flex;
    margin: 90px 190px;
   
}
.image-card{
    gap: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.cad{
    align-items: center;
    margin-top: 200PX;
}
.card-title{
    font-size:45px ;
    font-weight: 600px;
    color: #727272;
}
.card-dis{
    font-size: 16px;
    font-weight: 400;
    color:#727272;
    margin-top: 10px;
}
.font-col{
    color: #131313;
}
.color{
    color: #FF900E;
}
 


.cards{
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

.code{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    border: 1px solid tomato;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.contanier{
   margin-left: 210px;
}
.section-dis{
    width: 700px;
    /* margin-right: 1100px; */
    color:#727272;
    margin-top: 20px;
}
.section-title{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.some-facts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
   
}
.some-title{
    border: 1px solid #FF900E;
    margin-top: 100px;
    padding: 40px 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.some-dis{
    text-align: center;
    margin-left: 38px;
    
}
.our-title{
    text-align: center;
    margin-top: 100px;
}
.our-dis{
    text-align: center;
    color: #727272;
}
.Project{
    gap: 30px;
    margin-left: 260px;
}
.logo{
    margin: 20px 50px;
    /* align-items: center; */
   
    filter: grayscale(100%);
}
.footer{
    max-width: 1400px;
    background-color:#FFF4E7 ;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
}



@media screen and (max-width:576px) {
      .navber, .banner{
         flex-direction: column;
    }
    .barnd{
        margin: auto;
    }
    .img{
        width: 370px;
        height: 220px;
        margin: auto;
    }
    .card{
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
        margin-left: 2px;
    }
    .contanier{
     max-width: 470px;
      margin: auto;
    }
    .some-facts{
        flex-direction: column;
        margin-bottom: 5px;
        gap: 5px;
        font-size: 17px;

    }
    .Project{
        flex-direction: column;
        margin-left: 10px;
    }
}


@media screen and (min-width:570px) and (max-width:990px) {
     .img{
        width: 900px;
        height: 420px;
        margin: auto;
    }
    .card{
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
      margin-left: 50px;
    }
    .some-facts{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 5px;
        gap: 15px;
        font-size: 17px;
}
.contanier{
     max-width: 470px;
      margin: auto;
      font-size: 25px;
    }
    .cad{
        font-size: 25px;
    }
    .card-dis{
        font-size: 25px;
    }
    .our-dis{
        font-size: 25px;
    }
    .Project{
        flex-direction: column;
        margin-left: 10px;
    }
    .footer{
        font-size: 25px;
    }
}